@font-face {
    font-family: "Chakra Petch";
    src: url("/assets/fonts/chakra-petch/chakra-petch-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


.header {

    padding: 2rem 3rem;
    font-family: "Chakra Petch", sans-serif;


}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(194, 197, 194, 0.2);
}




.rightMenu {
    display: flex;
    gap: 1rem;
}

.rightMenu button {
    border: solid 2px white;
    text-align: center;
    color: white;
    padding: .8rem;
}