.scheduleContent {
    border: 1px solid;
}


.scheduleCard {
    display: flex;

}

.titleScheduleWord {
    padding: .2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    flex: .15;
    background-color: blue;
    text-align: center;
    justify-content: center;
    align-content: center
}

.mainScheduleContent {
    flex: 3;
    background-color: orange;
    padding: 1rem;
}

.scheduleCardDetails {
    flex: .5;
    display: flex;
    color: black;
    background-color: yellow;
    flex-direction: column;
    padding: 1rem;
    gap: .3rem;
    border-left: dashed 3px black;
    justify-content: center;
    align-items: center;
}