.footer {
    display: flex;
    flex-direction: column;
    color: lightgray;
    padding: 2rem 3rem;
    margin-top: 2rem;
}

.footContainer {
    display: flex;
    justify-content: space-between;
    color: lightgray;
    margin-top: 1.4rem;
    margin-bottom: 2.4rem;

}



.rightFooter {
    display: flex;
    gap: 3rem;
}

.rightLeft {
    display: flex;
    flex-direction: column;
}

.leftRight {
    display: flex;
    flex-direction: column;
}

.leftRightEnd {
    display: flex;
    flex-direction: column;
    list-style: none;
}




.bottomFooter {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}